.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    flex-direction: column;
}

    .splash-screen .logo {
        width: 150px;
        height: auto;
    }

.about-screen {
    padding: 20px;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }
body {
    font-family: Arial, sans-serif;
}

input, textarea {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}
/* App.css */
.star-rating {
    font-size: 30px;
    color: gold;
}

.star-rating span {
    cursor: pointer;
}

.star-rating span:hover {
    color: orange;
}
